@import 'articulat.css'
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap')

@import '_vars'

*
    box-sizing: border-box

html, body
    background-color: var(--color-bg)
    padding: 0
    margin: 0
    font-family: var(--font-text)
    color: var(--color-text)

h1, h2, h3
    font-family: var(--font-title)

p
    font-size: 18px

a
    color: var(--color-text)
    text-decoration-style: wavy
    &:hover
        color: var(--color-link-hover)

figure
    margin: 1em auto

.container
    width: 100%
    max-width: $content-width
    margin: 0 auto
    padding: 0 1em

